body{
    background: #9BDCFF;
    position: relative;
}
header{
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom:4px solid #F7FE72;
    color:#F7FFF7;
    font-size:4em;
    font-family: 'Lobster', cursive;
    margin-bottom:.5em;
    text-align: center;
    padding:2em;
    
}
nav{
    background:#4EA5D9;
    color:#F7FFF7;
    border:2px solid #F7FE72;
    font-size:1.25em;
    font-family: 'Staatliches', cursive;
    text-align: center;
    padding:.5em;
    position:fixed;    
    margin:auto;
    top:0%;
    width:100%;
    
}
nav a{
    color:#F7FFF7;
    padding:.5em;
  
}
nav a:visited{
    color:#F7FFF7
}
nav a:link{
    color:#F7FFF7
}
nav a:hover{
    color:#F7FE72;
}
nav a:active{
    color:#F7FE72;
}
p h3{
    color:#0C252D;
}
h3{
    border-bottom:2px solid #F7FE72;
    font-size:2em;
    font-family: 'Staatliches', cursive;
    text-align: center;
    margin-top:.5em;
    margin-bottom:.75em;
}
p{
    font-size:1.15em;
    line-height: 1.5em;
    text-indent: 1em;
    font-family: 'Muli', sans-serif;
}
section{
    background:#C6EBFF;
    border:2px solid rgba(247, 254, 114, 0.329);
    padding:2em;
    margin-top:.5em;
    margin-bottom:.5em;
}
strong{
    font-size:1.25em;
    font-weight: 800;
}
.sectionHead{
    font-size: 1.25em;
    font-family: 'Staatliches', regular;
    font-weight: 600;
    text-align: center;
    padding-top:.25em;
    border-bottom: 2px solid #4EA5D9;
    text-transform: capitalize;
}
.wrapper{
    width:85%;
    margin: auto;
}
.wrapper img{
    display: block;
    margin:auto;
    width:250px;
}

@media screen and (min-width: 766px) {
    header {
      font-size:4.5em;
    }
    nav{
        padding:.75em;
        font-size:1.5em;
    }
    .sectionHead{
        font-size: 2em;
        margin-bottom:.75em;
    }
    .wrapper img{
        width:550px;
    }
    .wrapper p{
        width:550px;
        margin:auto;
        margin-bottom:1.5em;
    }
    section{
        margin-top:1.5em;
        margin-bottom:1.5em;
    }
  }

  

  @media screen and (min-width: 1080px) {
      header{
          font-size:6em;
      }
      h3{
          font-size:1.25em;
      }
      .container p{
        width:275px;
        margin:auto;
        margin-bottom:1.5em;
    }
      .wrapper img{
        width:275px;
        margin:auto;
        margin-bottom:1.5em;
    }
    .container{
        display:flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin:auto;
    }
    .container div{
        margin:.5em;
    }
    
    .about p{
        width:75%;
    }
  }
  @media screen and (min-width: 1435px) {
    .container p{
        width:350px;      
    }
      .wrapper img{
        width:350px;       
    }
    h3{
        font-size:2em;
    }
  }